
.chat-utilities {
    @include flex(column, nowrap, flex-start, flex-start);
    @include bg(white);
    gap: .5rem;
    padding: 1.5rem 1rem 1rem;
    height: 70px;
    position: relative;
    .utility-container {
        @include flex(row, nowrap, flex-start, center);
        gap: .5rem;
        position:relative;
        


        ul {
            @include flex(row, nowrap, flex-start, center);
            @include radius(25px);
            @include bg(#eee);
            position: relative;
            li {
                @include same-size($icon-size);
                @include radius(50%);
                @include transition();
                @include flex(row, nowrap, center, center);
                cursor: pointer;
                padding: 1rem;
                overflow: hidden;
                &:hover {
                    @include bg(rgba(black, 0.1));
                }
                img {
                    height: 100%;
                    opacity: 0.8;
                }
                &.emoji-selector {
                    @include bg(white);
                    @include radius(1rem);
                    cursor: default;
                    display: block;
                    padding: 0;
                    border: 1px solid #eee;
                    position: absolute;
                    top: 120px;
                    bottom: 0%;
                    width: 325px;
                    height: 350px;
                    z-index: 5;
                    opacity: 0;
                    pointer-events: none;
                    overflow: auto;
                    transition: bottom 0.3s ease, opacity 0.3s ease;
                    &.active {
                        bottom: 0%;
                        opacity: 1;
                        pointer-events: all;
                    }
                    .input-container {
                        padding: 1rem;
                        @include bg(white);
                        position: sticky;
                        top: 0;
                        z-index: 5;
                        input {
                            border-radius: 25px;
                            border: 1px solid #eee;
                            width: 100%;
                            padding: .5rem 1rem;
                            outline: none;
                        }
                    }
                    ul.emoji-list {
                        @include bg(white);
                        @include flex(row, wrap, flex-start, flex-start);
                        padding: 0 1rem 1rem;
                        border-radius: 0;
                        li {
                            @include same-size(35px);
                            @include radius(.25rem);
                            font-size: 1.5rem;
                        }
                    }
                }
            }
        }
    }
    
}
